<!DOCTYPE html>
<html>
<head>
	<title>Tailor - Index Template</title>
	<link rel="stylesheet" href="../css/base.css" type="text/css">
</head>
<body>
	<div class="global">
		<h1>Tailor funktioniert - Template index.html!</h1>
		Template content styled with global style
	</div>
	<hr/>
	<div class="fragment">
		Template content styled with class in fragment namespace
	</div>
	<hr/>
	<h2>And now: the fragments</h2>
	<fragment id="fragment-1" src="http://localhost:8081" primary></fragment>
	<hr/>
	<fragment id="fragment-2" src="http://localhost:8082"></fragment>
</body>
</html>


